@import url("https://fonts.googleapis.com/css?family=Lora&display=swap");

body {
  margin: 0;
  font-family: "Lora", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d9f5f8;
}

#root {
  height: 100vh;
}

/*codigo de bienvenida*/
form.store-selector {
  justify-content: center;
}

#root .jumbotron {
  background-color: #fff887;
  margin-top: 10%;
}

#root .store-selector,
#root .login {
  width: 60%;
  text-align: center;
  margin: auto;
}

#root .store-selector input,
#root .login button {
  margin: 5% auto;
  text-align: center;
}
