/* lora-regular - latin */
@font-face {
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/lora-v14-latin-regular.eot");
  src: local("Lora Regular"), local("Lora-Regular"),
    url("fonts/lora-v14-latin-regular.woff2") format("woff2"),
    url("fonts/lora-v14-latin-regular.woff") format("woff"),
    url("fonts/lora-v14-latin-regular.ttf") format("truetype"),
    url("fonts/lora-v14-latin-regular.svg#Lora") format("svg");
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lora", serif !important;
  background-color: #d9f5f8 !important;
}

/*codigo de bienvenida*/
form.store-selector {
  justify-content: center;
}

#root .jumbotron {
  background-color: #ffb387;
  text-align: center;
}

#root .container {
  padding-top: 10%;
}

#root .store-selector {
  width: 60%;
  margin: auto;
}

#root .store-selector input,
#root .jumbotron button {
  margin: 5% 2.5%;
  text-align: center;
}

/*fix head y menu*/
#root .head,
#root .menu {
  z-index: 99;
  background-color: #ffb387;
  border: solid #fa8846 2px;
}

#root .head input,
#root .head button {
  text-align: center;
  margin: 1px;
  width: 100%;
}

#root .head {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
}

/*Menu*/
#root .menu {
  position: fixed;
  width: 200px;
  height: 80vh;
  padding: 20px;
}

#root .menu .btn {
  width: 100%;
  margin: 1%;
}

#root .oculto {
  display: none;
}

#root .medicines {
  padding-left: 0;
}

#root .main-medicine {
  margin-top: 130px;
}

/*formularios*/
#root .form-group {
  margin-bottom: 0rem;
  padding-left: 1rem;
}

/*otros*/
#root .head,
#root .main-medicine {
  margin-right: 0;
  margin-left: 0;
}

#root .medicine-edit .col,
#root .main-medicine .col-sm-10 {
  padding-left: 0;
}

#root .medicine-edit {
  border: solid;
  height: 80vh;
  margin-bottom: 2%;
}

@media screen and (max-width: 575px) {
  #root .head {
    height: 300px;
  }

  #root .main-medicine {
    margin-top: 320px;
  }
}
