/* lora-regular - latin */
@font-face {
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/lora-v14-latin-regular.eot");
  src: local("Lora Regular"), local("Lora-Regular"),
    url("fonts/lora-v14-latin-regular.woff2") format("woff2"),
    url("fonts/lora-v14-latin-regular.woff") format("woff"),
    url("fonts/lora-v14-latin-regular.ttf") format("truetype"),
    url("fonts/lora-v14-latin-regular.svg#Lora") format("svg");
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lora", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d9f5f8 !important;
}

#root .head,
#root .menu {
  z-index: 5;
}

/*codigo de bienvenida*/
form.store-selector {
  justify-content: center;
}

#root .jumbotron {
  background-color: #fff887;
  text-align: center;
}

#root .container {
  padding-top: 10%;
}

#root .store-selector {
  width: 60%;
  margin: auto;
}

#root .store-selector input,
#root .jumbotron button {
  margin: 5% 2.5%;
  text-align: center;
}

/*Formulario medicinas*/
#root .oculto {
  display: none;
}

#root li {
  list-style-type: none;
}

#root .head input,
#root .head button {
  text-align: center;
  margin: 1px;
}

#root .head button {
  width: 100%;
}

#root .medicine-edit,
#root .medicine-edit .form-control,
img,
textarea {
  margin: 1%;
}

#root .medicine-edit {
  border: solid 1px;
  border-radius: 1px;
}

#root .head {
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  padding: 20px;
  box-sizing: border-box;
  background: #fff887;
  border: solid 1px;
}

#root .menu {
  position: fixed;
  width: 250px;
  padding: 20px;
  border: solid 1px;
}

#root .menu .btn,
#root .menu a {
  width: 100%;
  margin: 1%;
}

#root .main-medicine {
  margin-top: 130px;
}

#root .inventario {
  margin-left: 260px;
}

#root .medicines-edit {
  border: solid 1px;
  margin-left: 260px;
}
